@tailwind base;
@tailwind components;
@tailwind utilities;

/* Install Prettier for auto class sorting */
/* [1] npm install -D prettier-plugin-tailwindcss */
/* [2] create .prettierrc.json in the project root (dont forget the . in the name)*/
/* [3] add: 
    {
        "plugins": ["prettier-plugin-tailwindcss"]
      } */
/* [4] If it is not working - first try relaunching VS code */



/* CSS Variables based on project design */
@layer base {
  :root {
    /* Primary */
    --marine-blue: 213, 96%, 18%;
    --purplish-blue: 243, 100%, 62%;
    --pastel-blue: 228, 100%, 84%;
    --light-blue: 206, 94%, 87%;
    --strawberry: 354, 84%, 57%;

    /* Secondary */
    --cool-gray: 231, 11%, 63%;
    --light-gray: 229, 24%, 87%;
    --magnolia: 217, 100%, 97%;
    --alabaster: 231, 100%, 99%;

  }
}


.test {
  /* primary */
  color: hsl(213, 96%, 18%);
  color: hsl(243, 100%, 62%);
  color: hsl(228, 100%, 84%);
  color: hsl(206, 94%, 87%);
  color: hsl(354, 84%, 57%);


  /* secondary */
  color: hsl(231, 11%, 63%);
  color: hsl(229, 24%, 87%);
  color: hsl(217, 100%, 97%);
  color: hsl(231, 100%, 99%);
  color: hsl(0, 0%, 100%);

}